body {
    background-color: rgba(233, 102, 102, 0.874);
    color: rgb(237, 237, 240);
    /* font-family: Poppins; */
    font-family: system-ui;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-size: cover;



}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    /*background-color: rgb(61, 195, 106);*/
    text-align: center;
    flex-wrap: nowrap;
    min-height: 95vh;
    margin-left: 25px;
    margin-right: 25px;



}
.container > div{
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px;



}
.right{
   /* background-color: blue;*/
    margin-left: 250px; 
    text-align: left;
    margin-right: 50px;


}
.header{
    /*margin-top: 250px;
    margin-right: 1.4vw;*/
    font-size: 2.3vw;
    line-height: 5.5vw;
    word-spacing: -0.5vw;

}
.text{
   /* margin-right: 4vw;*/
    font-size: 1.1vw;
    line-height: 2vw;


 
}




.left{
    /*background-color: rgb(213, 14, 183);*/
    margin-right: 250px;
    margin-left: 5px; 
    text-align: left;



}
.try{
    background-color: #6c62dc;
    min-height: 110px;
    border-radius: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0px 11px 0px 0px #6c6c6a3d;
    text-align: center;


}
.form{
    background-color: white;
    border-radius: 15px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    padding: 60px;
    justify-content: space-between;
    margin-top: 45px;
    box-shadow: 0px 11px 0px 0px #6c6c6a3d;


}

.inputs{
 
    width: -webkit-fill-available;
   /* background-color: purple;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 70%;
    justify-content: space-between;

}
input{
    padding: 35px;
    border-radius: 15px;
    border-block-color: rgb(184, 183, 183);
    -webkit-text-stroke-width: medium;
    font-size: x-large;

}
input:focus{
    -webkit-text-fill-color: rgb(0, 0, 0);
    font-size: 25px;
}
.boton{

  /*  background-color: aqua;*/
    display: flex;

    width: -webkit-fill-available;
    flex-direction: column;

}

button{
    padding: 35px;
    border-radius: 15px;
    font-size: x-large;
    text-transform: uppercase;
    color: white;
    background-color: rgb(61, 195, 106);
    border-bottom: outset;
    border-bottom-color: rgba(61, 195, 106, 0.399);
    border-color: rgba(61, 195, 106, 0.399);

}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}





@media only screen and (max-width:1800px) {
body{
    background-size: cover;
}
   .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
   }

 
.container > div{
  /*     width: 60%;

  padding-bottom: 20%;*/
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}

   
   .left{
    min-width: 600px;

  
   }
   .right{
    margin-left: 0px;
    text-align: center;
    min-width: 600px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    

   }
   .left{
    /*background-color: rgb(213, 14, 183);*/
    margin-right: 0px;
    margin-left: 0px; 
    text-align: center;
   }
   .header{
   /* margin: 90px;
    margin-top: 160px;
    margin-bottom: 30px;*/
    font-size: 25px;
    line-height: 58px;
    word-spacing: 0px;

}
.text{
   /* margin: 50px;*/
    font-size: 22px;
    line-height: 38px;


 
}


}